img {
    position: relative;
    width:100%;
}

.itemContainer {
    width: 20%;
    float: left;
    text-align: center;
    padding: 10px;
    box-shadow: 1px 1px 9px #ccc;
    margin: 10px;
}

.itemContainer a {
    text-decoration: none;
    color:#555;
}